html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background: #F5F6F8;

  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.visualyHidden {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray: #A4A4A4;
  --gray-dark: #6c7077;
  --white: #FFFFFF;
  --primary: #7351f5;
  --primary-hover: #6344df;
  --red: #FC836D;
  --red-light: #Fea291;
	--green: #007B48;
	--green-light: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
}
